<style>
    .fix-padding {
        padding: 0.35em;
    }

    .half-width {
        width: 50%;
    }
</style>
<stat-chart-ctlr>
    <stat-data-source id="ds" path="play/mock_data" interval="0">
        <stat-param name="input_array" [value]="inputArray"></stat-param>
    </stat-data-source>

    <div>
        <button (click)="updateArray()">
            Update values
        </button>
        <table id="input-table" class="table table-striped no-footer dataTable">
            <thead>
                <tr>
                    <th *ngFor="let header of dataSourceColumns">
                        {{ header }}
                    </th>
                    <th>
                        col INPUT
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of arrayOfObjects; let i = index">
                    <td *ngFor="let header of dataSourceColumns; let j = index"
                        [ngStyle]="allowedIndices.includes(j) ? getStyle(row[header]) : {}">
                        {{ row[header] }}
                    </td>
                    <td>
                        <input [value]="inputArray[i]" type="text">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</stat-chart-ctlr>